.cart-book-detail {
    border: rgb(210, 223, 202) 1px solid;
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 10px;
}

textarea{
    width: 107px;
    height: 30px;
}

.detail-book-cart1{
    text-align:left;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 24px;
}
.detail-book-cart2{
    text-align:left;
    margin-bottom: 10px;
    font-size: 16px;
    color: silver;
}
.detail-book-cart3{
    text-align:left;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: bold;
}
.detail-book-cart4{
    text-align:left;
    margin-bottom: 10px;
    font-size: 16px;
    color: crimson;
}
